<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rng.splendor.db.mapper.MessageMapper">
    
    <insert id="insertMessage" parameterType="MessageLog" useGeneratedKeys="true" keyProperty="mess_num">
    	insert into message_log values (
    	0, 
    	#{mess_sender}, 
    	#{mess_receiver}, 
    	#{mess_send_date}, 
    	0, 
    	#{mess_content}
    	)
    </insert>
    
    <select id="readMessage" parameterType="String">
    	update message_log set mess_is_show=1 where mess_num=#{mess_num}
    </select>
    
    <select id="selectOneMessage" parameterType="String" resultType="MessageLog">
    	select * from message_log where mess_num=#{mess_num}
    </select>
    
    <select id="messageList" resultType="MessageLog" parameterType="String">
    	select * from message_log where mess_receiver=#{receiver} 
    	order by mess_send_date desc
    </select>
    
    <select id="senderList" resultMap="has" parameterType="String">
    	select m.mess_num, m.mess_sender, u.user_image, m.mess_send_date, m.mess_is_show 
    	from message_log m left join user_data u on m.mess_sender=u.user_name 
    	where m.mess_receiver=#{receiver} 
    	order by mess_send_date desc
    </select>
    
    <select id="selectAll" resultType="MessageLog">
    	select * from message_log
    </select>
    
    
    
    <resultMap type="java.util.HashMap" id="has">
    	<result javaType="java.lang.String" column="mess_num" property="mess_num"/>
    	<result javaType="java.lang.String" column="mess_sender" property="mess_sender"/>
    	<result javaType="java.lang.String" column="user_image" property="mess_sender_image"/>
    	<result javaType="java.util.Date" column="mess_send_date" property="mess_send_date"/>
    	<result javaType="java.lang.String" column="mess_is_show" property="mess_is_show"/>
    </resultMap>
</mapper>
