<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rng.splendor.db.mapper.UserMapper">

	<select id="selectOneUser" resultType="userData">
        SELECT * FROM user_data WHERE user_name = #{userName}
    </select>
    
    <select id="selectAllUser" resultType="userData">
        SELECT * FROM user_data
    </select>
    
    <select id="idCheck" resultType="userData">
        SELECT * FROM user_data WHERE user_email = #{userEmail}
    </select>
    
    <insert id="insertUser" parameterType="userData">
    	INSERT INTO user_data (user_name, user_mail, user_password, is_admin, is_banned) VALUES (#{user_name}, #{user_mail}, #{user_password}, '0', '0')
    </insert>
    
    <select id="selectNameCheck" resultType="String">
    	SELECT user_name FROM user_data 
    </select>
    
</mapper>